In [3]:
import pandas as pd

df = pd.read_csv("Comprehensive_Banking_Database.csv")
df.head(5)
# df.isna()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Credit Card Balance,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,4524.32,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,856.70,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,3242.36,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,4329.17,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,25.72,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023

In [6]:
# What are the most common types of transactions (e.g., withdrawals, deposits, transfers)
# Count occurrences of each transaction type


transaction_counts = df['Transaction Type'].value_counts()

# Convert the result to a DataFrame for better display
transaction_counts_df = transaction_counts.reset_index()
transaction_counts_df.columns = ['transaction_type', 'count']
transaction_counts_df = transaction_counts_df.sort_values(by='count', ascending=False)

print(transaction_counts_df)

  transaction_type  count
0          Deposit   1698
1       Withdrawal   1673
2         Transfer   1629

In [10]:
transaction_counts = df['Transaction Type'].value_counts()
transaction_counts_df=transaction_counts.columns = ['transaction_type', 'count']

print(transaction_counts_df)

['transaction_type', 'count']